<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiteCraft-Smart Recipe Planner and Pantry tracker</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/favicon.ico?v=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>
    <% if(user) {%>
       <header class="main-head">
           <div class="logo"><a href="/search"><img src="/images/recipe.png" alt="logo of BiteCraft" ><h1>BiteCraft</h1></a>
        </div>
           <form action="/search/recipes" method="get" class="searchbar">
               <input type="text" name="recipe" placeholder="search Recipes">
               <button type="submit">Search</button>
           </form>
           <nav class="navbar"><a href="/plannar">Meal Plannar</a> <a href="/pantry">Pantry</a> <a href="/logout">Logout</a></nav>
           <button type="button" class="menu"><img src="/images/bars-solid-full.svg" alt="menubar"></button>
           <div class="menubar hidden">
                <button type="button" class="close-menu"><img src="/images/xmark-solid-full.svg" alt="close menu"></button>
                <a href="/plannar">Meal Planner</a>
                <a href="/pantry">Pantry</a>
                <a href="/logout">Logout</a>
           </div>
       </header>
    <% } %>
    <main class="content">