<%- include('partials/header') %>

<div class="home-container">
    <div class="heading">
        <img src="/images/recipe.png" alt="image of BiteCraft">
        <h1>BiteCraft</h1>
        <h3>Smart Recipe Planner and Pantry Tracker</h3>
        <p> Plan your meals and discover recipes
 using ingredients you already have.</p>
    </div>

    <div class="auth">
        <a href="/register">Register</a>
        <a href="/login"  id="login">Login</a>
    </div>
</div>
<%- include('partials/footer') %>